h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
strong,
em,
figcaption {
  padding: 0;
  margin: 0;
  font-style: normal;
  letter-spacing: normal;
  font-weight: unset;
  line-height: unset;
}

h1 {
  font-weight: 400;
  font-size: calc(var(--title-size) * 1.011);
  line-height: 1.2;
  color: var(--color-dark);
}

h2 {
  font-weight: 400;
  font-size: calc(var(--title-size) * 1.011/2);
  line-height: 1.2;
  color: var(--color-dark);
}

h3 {
  font-weight: 400;
  font-size: calc(var(--title-size) * .51/2);
  line-height: 1.2;
  color: var(--color-dark);
}

h3.small {
  font-size: calc(var(--title-size) * 0.325);
}

h4 {
  font-weight: 400;
  font-size: calc(var(--title-size) * 0.275);
  line-height: 1.2;
  color: var(--color-dark);
}

h5 {
  font-weight: 400;
  font-size: calc(var(--title-size) * 0.2);
  line-height: 1;
  color: var(--color-dark);
}

p {
  font-weight: 300;
  font-style: normal;
  font-size: var(--copy-size-l);
  line-height: 1.5;
  color: var(--color-text);
}

[data-theme-section="dark"] :is(h1, h2, h3, h4, h5) {
  color: var(--color-white);
}

@media screen and (max-width: 540px) {
  h1 {
    line-height: 1;
  }

  h2 {
    font-size: calc(var(--title-size) * 0.475);
  }
}



span {
  font-weight: inherit;
  color: inherit;
  font-size: var(--copy-size-m);
}


p.inactive,
span.inactive {
  opacity: 0.6;
}

strong {
  font-weight: 400;
  color: var(--color-dark);
}

[data-theme-section="dark"] strong {
  color: var(--color-light);
}

em {
  font-style: italic;
}

a {
  color: unset;
  text-decoration: none;
}

.eyebrow {
  display: block;
  text-transform: uppercase;
  letter-spacing: calc(0.75em * 0.12);
  font-size: 0.725em;
  line-height: 1;
  color: rgba(var(--color-dark-rgb), 0.4);
  font-weight: 400;
}

.eyebrow.small {
  letter-spacing: calc(0.65em * 0.12);
  font-size: 0.65em;
}

.eyebrow.tiny {
  letter-spacing: calc(0.575em * 0.12);
  font-size: 0.575em;
}

[data-theme-section="dark"] .eyebrow {
  color: rgba(var(--color-white-rgb), 0.7);
}

.eyebrow.primary {
  color: var(--color-primary);
}

.eyebrow.secondary {
  color: var(--color-secondary);
}
